<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/head :: head(title='Liste des requêtes')}"></head>

<body class="layout-boxed">

<div class="page">
  <header th:replace="~{fragments/navbar}"></header>
  <header th:replace="~{fragments/menu}"></header>

  <div class="page-wrapper">
    <!-- Page header -->
    <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Liste des requêtes')}"></div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->

        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <table id="table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Métier</th>
                      <th>Nombre de personne</th>
                      <th>Statut</th>
                      <th>Date du requête</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="request: ${requests}">
                      <td th:text="${request.getUser().getService().getName()}"></td>
                      <td th:text="${request.getJob().getTitle()}"></td>
                      <td th:text="${request.getNumberToHire()}"></td>
                      <td>
                        <span th:class="${'badge bg-' + request.getStateDetail().getColor()}">
                          <span th:text="${request.getStateDetail().getName()}"></span>
                          <i th:class="${'fa-solid fa-' + request.getStateDetail().getIcon()}"></i>
                        </span>
                      </td>
                      <td th:text="${#dates.format(request.getRequestDate(), 'yyyy/MM/dd HH:mm')}">

                      </td>
                      <td>
                        <a th:href="@{/request/detail/{id} (id=${request.getId()})}" class="btn btn-primary">
                          <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Service</th>
                      <th>Métier</th>
                      <th>Nombre de personne</th>
                      <th>Statut</th>
                      <th>Date du requête</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Page footer -->
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>