<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/head :: head(title='Liste des requêtes')}"></head>

<body class="layout-boxed">

<div class="page">
  <header th:replace="~{fragments/navbar}"></header>
  <header th:replace="~{fragments/menu}"></header>

  <div class="page-wrapper">
    <!-- Page header -->
    <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Liste des requêtes')}"></div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <a class="btn btn-primary">
                  Faire une requête
                  <i class="fa-solid fa-file-alt mx-2"></i>
                </a>
              </div>

              <div class="card-body">
                <table id="table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Métier</th>
                      <th>Nombre de personne</th>
                      <th>Statut</th>
                      <th>Date du requête</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Informatique</td>
                      <td>Développeur Web</td>
                      <td>3</td>
                      <td>
                        <span class="badge bg-success">
                          Accepté <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="badge bg-danger">
                          Refusé <i class="fa-solid fa-times"></i>
                        </span>
                        <span class="badge bg-warning">
                          En attente <i class="fa-solid fa-clock"></i>
                        </span>
                      </td>
                      <td>
                        2021/05/02
                      </td>
                      <td>
                        <a href="" class="btn btn-primary">
                          <i class="fa-solid fa-file-pen"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Service</th>
                      <th>Métier</th>
                      <th>Nombre de personne</th>
                      <th>Statut</th>
                      <th>Date du requête</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Page footer -->
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>